.btn {
    color: black;
    display: inline-block;
    >.wrap {
        
        background: var(--brand-alt);
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        border-radius: 20px;
        font-size: 24/16 + rem;
        line-height: 1;
        align-items: center;
    }
}